@page "/rank"
@using LeadTCGPRank.App.Client.Models
@inherits RankViewBase


@if (Stats is null)
{
    <p>Loading...</p>
}
else
{
    <div class="rank-container">
        
        <div class="rank">
            <img class="rank__icon" src="@GetRankImage(Stats.Rank)" alt="@Stats.RankLabel"/>
            @if (Stats.Rank < Rank.MasterBall)
            {
                <span class="rank__name">@Stats.RankLabel</span>
            }
        </div>
    
        <div class="rank-container__points">@Stats.Points</div>
        
    </div>
}